.wrapper {
  color: var(--main-dim-clr);
  display: flex;
  gap: 10px;
}

.back {
  display: flex;
  align-items: center;
}

.back svg path {
  fill: var(--main-dim-clr);
}

.back:hover svg path {
  fill: var(--main-dim-clr-hover);
}

.path {
  flex: 1 1 auto;
  padding: 5px;
  background-color: var(--second-dark-clr);
  border: 1px solid var(--main-dim-clr);
  border-radius: 5px;
}
