.list {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-color: var(--second-dark-clr) var(--main-dark-clr);
  /* scrollbar-width: thin; */
  --gap: 20px;
  gap: var(--gap);
  box-sizing: border-box;
  padding: 2px 2px 10px 2px;
}

.list li {
  width: 12rem;
  scroll-snap-align: start;
}

.skeletonWrapper {
  display: flex;
  gap: calc(var(--gap) / 2);
}

.skeleton {
  width: 192px;
  height: 117px;
}

@media (max-width: 768px) {
  .list {
    gap: 15px;
  }
}
