.wrapper {
  background-color: var(--second-dark-clr);
  cursor: pointer;
  min-width: 10rem;
  width: 100%;
}

.cardContainer {
  /* За этот блок цепляется меню */
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.folderSvgWrapper {
  display: flex;
  align-items: center;
}

.folderSvgWrapper svg {
  width: 40px;
  height: 40px;
}

.folderSvgWrapper svg path {
  fill: var(--link-clr);
}

.menuWrapper {
  background-color: var(--second-dark-clr);
  height: min-content;
  width: min-content;
  border-radius: 100%;
}

.body {
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.title {
}

.info {
  color: var(--main-dim-clr);
  font-size: 0.8rem;
}

.info,
.title {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
