.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.5rem;
  margin: 12px 0;
  position: relative;
  padding-left: 18px;
}

.title::before {
  content: "";
  background-color: var(--text-clr);
  width: 5px;
  height: 5px;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: calc(50% - 2.5px);
}

.showAll {
  font-size: 0.9rem;
  color: var(--link-clr);
}

@media (hover) {
  .showAll:hover {
    text-decoration: underline;
  }
}
