.question {}

.buttons {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.buttons button {
  width: 100px;
  border-radius: 999px;
  padding: 2px 0;
  text-align: center;
}

.accessBtn {
  background-color: var(--link-clr);
  color: var(--text-clr);
}

.accessBtn:hover {
  background-color: var(--link-hover-clr);
}

.denyBtn {
  background-color: var(--text-clr);
  color: var(--main-dark-clr);
}

.denyBtn:focus-visible {
  outline: 2px solid var(--link-clr);
}

.denyBtn:hover {
  background-color: var(--main-dim-clr);
}