.list {
  display: flex;
  flex-direction: column;
}

.listItem {
  --border: 1px solid var(--main-dim-clr);
  border-top: var(--border);
  border-bottom: var(--border);
}

.listItem:first-child {
  border-top: none;
  border-bottom: none;
}

.listItem:nth-child(2) {
  border-top: none;
}

.listItem:last-child {
  border-bottom: none;
}

.skeleton {
  height: 50px;
}