.body {
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.title {
}

.info {
  color: var(--main-dim-clr);
  font-size: 0.8rem;
}

.info,
.title {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
